{% extends 'base.html' %}

{% load static %}

{% block main %}

<br/>
<br/>
<br/>
<br/>

<h1 style="background-color:DodgerBlue"; align="center">CARGAR NUEVO POST</h1>



<div class="form-container">  
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div align="center" class="form-field">
         {{ form.Titulo }}<br/><br/>
    </div>
    <div align="center" class="form-field">
        {{ form.Post }}<br/><br/>
    </div>
    <div align="center" class="form-field">
        {{ form.Imagen.label_tag }} {{ form.Imagen }}<br/><br/>
    </div>
    <div align="center" class="form-field">
        {{ form.categorias.label_tag }} {{ form.categorias }}<br/><br/>
    </div>
    <center>
        <input type="submit" value="Enviar", class="btn btn-primary btn-flat"> 
    </center>
    <br><br>   
    <div align="center">
        <img src="{% static 'blog/assets/img/categorias.jpg' %}" alt="imagen carga" width="300" height="300">
    </div>
</div>

{% endblock main %}