{% extends 'base.html' %}

{% load static %}

{% block main %}


<br/>
<br/>
<br/>
<br/>

<h1 style="background-color:DodgerBlue"; align="center">CARGAR NUEVA CATEGORIA</h1>
<center>
{% if mensaje %}
    <p>{{ mensaje }}</p>
{% endif %}   
</center>
    </form>
<div class="form-container">  
    <form method="post">
    {% csrf_token %}
    <center>
    <table>
        {{ formcat.as_table }}
    </table>
        <br/>
    <input type="submit" value="CARGAR", class="btn btn-primary btn-flat"> 
    </center>
    <br><br>   
    <div align="center">
        <img src="{% static 'blog/assets/img/categorias.jpg' %}" alt="imagen carga" width="300" height="300">
    </div>
</div>

{% endblock main %}