{% extends "blog/base.html" %}

{% load static %}

<title>{% block title %} REGISTRO DE USUARIO NUEVO {% endblock title %}</title>

{% block main %}
<link href="{% static 'blog/assets/css/form.css' %}" rel="stylesheet"> 
<link href="{% static 'blog/assets/css/variables.css' %}" rel="stylesheet">
<link href="{% static 'blog/assets/css/main.css' %}" rel="stylesheet">

<br/>
<br/>
<br/>
<br/>


<h1 style="background-color:DodgerBlue"; align="center">REGISTRO DE NUEVO USUARIO</h1>

<div class="form-container">
    <div align="center" class="photo">
        <img src="{% static 'blog/assets/img/post-sq-6.jpg' %}" alt="imagen carga" width="200" height="200">
        <br><br>   
    </div>
    <form method="post">
    {% csrf_token %}
    <div align="center" class="form-field">
        {{ form.usuario.label_tag }} <br> {{ form.usuario }}
    </div>
    <div align="center" class="form-field">
        {{ form.clave.label_tag }}   <br>    {{ form.clave }}
    </div>
    <div align="center" class="form-field">
        {{ form.confirmar_clave.label_tag }} <br> {{ form.confirmar_clave }}
    </div>
    <div align="center" class="form-field">
        {{ form.mail.label_tag }} <br> {{ form.mail }}
    </div>
    <div align="center" class="form-field">
        {{ form.dni.label_tag }} <br> {{ form.dni }}
    </div>
    <center>
    <input type="submit" value="Ingresar", class="btn btn-primary btn-flat"> 
    </center>
    <br><br>   
</div>

{% endblock main %}