{% extends "blog/base.html" %}

{% load static %}

{% block main %}

<br> <br> 
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Agregar Nuevo Posteo</title>
      
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'blog/assets/css/mainblog.css' %}"> 

</head>   
         


    <section class="page-section cta" id="section">
        <div class="container" style="text-align: center;">
            <form action="carga_usuario">
            <br><br>
            <button type="submit" class="btn btn-primary btn-flat" >
                <i class="fas fa-save"></i> NUEVO POSTEO
            <br><br>
            </form> 
        </div>
    </section>

    
    {% for post in object_list %}
    <section class="page-section" id="section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 mx-auto">
                    <div class="cta-innerv text-center rounded">
                    <h3 class="section-heading mb-2" >
                        <span class="section-heading-upper">
                            {{post.Titulo}}</span><br/>
                    </h3>
                    </h2>
                        <span class="section-heading-lower">
                            {{post.Post}}</span>
                    </h2>
                    <br>
                    <tr>
                    {% if post.Imagen %}
                    <td><a title="Imagen_del_POST" href= "media/{{ post.Imagen }}"><img src= media/{{ post.Imagen }} width="200" height="200" /></td>
                    {% endif %}
                    </tr>
                    <br>
                    <br>
                    <p class="mb-0 mbt">{{post.categorias}}</p>
                    <p class="mb-0 mbt">
                        <span class="section-heading-under">
                            Publicado por <em><b>{{post.usuario}}</b></em>
                            el <em> </em>
                        </span>
                    </p>
                        <span class="section-heading-upper">
                            {{post.update|date:"SHORT_DATE_FORMAT"}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}     
                    
</html>

{% endblock main %}